In [1]:
import pandas as pd

df = pd.DataFrame({
    "friend": ["Alex", "Fred", "Julia"],
    "dish": ["pasta", "beans", "pancakes"],
    "dissert": ["cake", "pudding", "mousse"]
})

df

  friend      dish  dissert
0   Alex     pasta     cake
1   Fred     beans  pudding
2  Julia  pancakes   mousse

In [7]:
friends = df["friend"]
dishes = df["dish"]
disserts = df["dissert"]

In [8]:
friends

0     Alex
1     Fred
2    Julia
Name: friend, dtype: object

In [9]:
dishes

0       pasta
1       beans
2    pancakes
Name: dish, dtype: object

In [10]:
disserts

0       cake
1    pudding
2     mousse
Name: dissert, dtype: object