In [1]:
import pandas as pd

df = pd.DataFrame({
    "Grande Região": ["Norte", "Nordeste", "Sudeste", "Sul", "Centro-Oeste"],
    "Número de Municípios": [450, 1794, 1668, 1191, 467],
    "População em situação de rua": [4399, 22864, 49792, 16021, 8777],
    "Total de Municípios (%)": [8.10, 32.20, 29.90, 21.40, 8.40],
    "Total em situação de rua (%)": [4.32, 22.45, 48.89, 15.73, 8.62]
})

df

,Grande Região,Número de Municípios,População em situação de rua,Total de Municípios (%),Total em situação de rua (%)
0,Norte,450,4399,8.1,4.32
1,Nordeste,1794,22864,32.2,22.45
2,Sudeste,1668,49792,29.9,48.89
3,Sul,1191,16021,21.4,15.73
4,Centro-Oeste,467,8777,8.4,8.62

In [2]:
# Quantas linhas e colunas possui o nosso conjunto de dados?
df.shape

(5, 5)

In [3]:
# Há valores nulos no DataFrame?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Grande Região                 5 non-null      object
 1   Número de Municípios          5 non-null      int64
 2   População em situação de rua  5 non-null      int64
 3   Total de Municípios (%)       5 non-null      float64
 4   Total em situação de rua (%)  5 non-null      float64
dtypes: float64(2), int64(2), object(1)
memory usage: 328.0+ bytes

In [4]:
# Qual o número médio de pessoas em situação de rua por região do Brasil em nosso DataFrame?
# Qual região tem proporcionalmente a maior quantidade de pessoas nessa situação? E qual tem menos?
df.describe()

,Número de Municípios,População em situação de rua,Total de Municípios (%),Total em situação de rua (%)
count,5.000000,5.000000,5.000000,5.000000
mean,1114.000000,20370.600000,20.000000,20.002000
std,639.286712,17890.349418,11.456221,17.565835
min,450.000000,4399.000000,8.100000,4.320000
25%,467.000000,8777.000000,8.400000,8.620000
50%,1191.000000,16021.000000,21.400000,15.730000
75%,1668.000000,22864.000000,29.900000,22.450000
max,1794.000000,49792.000000,32.200000,48.890000